@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");

:root[data-theme="light"] {
  --text: hsl(263, 31%, 5%);
  --background: hsl(255, 40%, 98%);
  --primary: hsl(259, 38%, 25%);
  --secondary: hsl(259, 43%, 66%);
  --accent: hsl(259, 47%, 45%);
}

:root[data-theme="dark"] {
  --text: hsl(262, 31%, 95%);
  --background: hsl(255, 40%, 2%);
  --primary: hsl(259, 38%, 75%);
  --secondary: hsl(259, 43%, 34%);
  --accent: hsl(259, 47%, 55%);
}

:root {
  font-size: 62.5%;
}

* {
  font-family: "Hi Melody";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 2rem;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "left right";
  background-color: var(--background);
  color: var(--text);
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.header {
  grid-area: header;
  text-align: center;
  padding: 2rem;
  background-color: var(--primary);
  color: var(--text);
}

.left {
  grid-area: left;
  padding: 2rem;
  background-color: var(--secondary);
  color: var(--text);
}

.right {
  grid-area: right;
  padding: 2rem;
  background-color: var(--accent);
  color: var(--text);
}

button {
  cursor: pointer;
  font-size: 2rem;
}
